@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 4px;
    padding: 8px;
  }

  .filme-principal {
    gap: 16px;
  }

  .filme-principal .descricao {
    width: 100%;
  }

  .filme-principal .botoes {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .filme-principal .botoes .botao {
    width: 300px;
    background-color: white;
    color: black;
  }
}
